<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.chasebank"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- In order to receive push notifications -->
    <permission
        android:name="com.app.chasebank.permission.C2D_MESSAGE"
        android:protectionLevel="signature" >
    </permission>
	
    <!-- Permission for the push notifications -->
    <uses-permission android:name="com.app.chasebank.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	
    <!-- Needed for push notifications that contain VIBRATE flag. Optional, but recommended. -->
    <uses-permission android:name="android.permission.VIBRATE" />
	
    <!-- So that we can get the account name -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
	
    <!-- Required if we need to invalidate access tokens -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:name=".framework.AppController"
        >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
		
        <activity
            android:name="MainActivity"
            android:configChanges="touchscreen|keyboardHidden|screenLayout|orientation|navigation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="ProfileAct"
            android:configChanges="touchscreen|keyboardHidden|screenLayout|orientation|navigation"
            />
        
        <activity
            android:name="com.app.chasebank.LoginFragment"
            android:configChanges="touchscreen|keyboardHidden|screenLayout|orientation|navigation"
            android:windowSoftInputMode="adjustResize" >
			
			<intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
			
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />
        </activity>
		
        <receiver
            android:name=".auth.GetNameInBackground$CallbackReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.app.chasebank.auth.Callback" >
                </action>
            </intent-filter>
        </receiver>
		
        <receiver
            android:name=".push.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.app.chasebank" />
            </intent-filter>
        </receiver>
        <service android:name=".push.GcmIntentService" />
        
        <activity
            android:name="LeadSummaryActivity"
            android:configChanges="touchscreen|keyboardHidden|screenLayout|orientation|navigation"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        
        <activity
            android:name="LeadActivity"
            android:configChanges="touchscreen|keyboardHidden|screenLayout|orientation|navigation"
            android:label="@string/app_lead_name" >
        </activity>
        
		<activity
            android:name="SignUpActivity"
            android:configChanges="touchscreen|keyboardHidden|screenLayout|orientation|navigation"
            android:label="@string/app_lead_name" >
        </activity>
		
        <!-- Internal receivers and a service -->
        <service android:name="com.infobip.push.lib.InfobipPushService" />

        <receiver android:name="com.infobip.push.lib.InternalReceiver" />
        
        <receiver
            android:name="com.infobip.push.lib.InfobipPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.app.chasebank" />
            </intent-filter>
        </receiver>
		
        <!-- Receiving notifications -->
        <receiver
            android:name=".push.ChasePushReceiver"
            android:permission="com.app.chasebank.permission.C2D_MESSAGE" >
            <intent-filter>
                <action android:name="com.infobip.push.intent.REGISTERED_FOR_NOTIFICATIONS" />
                <action android:name="com.infobip.push.intent.REGISTRATION_REFRESHED" />
                <action android:name="com.infobip.push.intent.UNREGISTERED_FROM_NOTIFICATIONS" />
                <action android:name="com.infobip.push.intent.NOTIFICATION_RECEIVED" />
                <action android:name="com.infobip.push.intent.NOTIFICATION_OPENED" />
                <action android:name="com.infobip.push.intent.ERROR" />
				
                <category android:name="com.app.chasebank" />
            </intent-filter>
        </receiver>

        <!-- Company Fragment Activity -->
        <activity
            android:name="CompanyAct"
            android:configChanges="touchscreen|keyboardHidden|screenLayout|orientation|navigation"
            android:label="@string/app_lead_name" >
        </activity>
		
        <!-- Product Fragment Activity -->
        <activity
            android:name="ProductAct"
            android:configChanges="touchscreen|keyboardHidden|screenLayout|orientation|navigation"
            android:label="@string/app_lead_name" >
        </activity>
		
        <!-- Product Fragment Activity -->
        <activity
            android:name="Branch"
            android:configChanges="touchscreen|keyboardHidden|screenLayout|orientation|navigation"
            android:label="@string/app_lead_name" >
        </activity>
        
        <!-- Categories Activity -->
        <activity
            android:name="ProductCategories"
            android:configChanges="touchscreen|keyboardHidden|screenLayout|orientation|navigation"
            android:label="@string/app_lead_name" >
        </activity>
		
        <!-- MyLead Summary Activity -->
        <activity
            android:name="MyLeadSummaryActivity"
            android:configChanges="touchscreen|keyboardHidden|screenLayout|orientation|navigation"
            android:label="@string/app_lead_name" >
        </activity>
		
        <service android:name=".util.DownloadService" >
        </service>
    </application>

</manifest>